<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Пашко Михаил Олегович. Резюме</title>
</head>
<body>
<div><img src="photo.jpg" width="200" height="250" alt="Пашко Михаил Олегович" style="float: right"></div>
<div>
    <h1>Пашко Михаил Олегович</h1>
    <p>Мужчина, 32 года, родился 21 ноября 1991 года</p>
    <p><b>Контакты</b></p>
    <p><a href="tel:+79778503132">+7 (977) 850-31-32</a></p>
    <p><a href="mailto:79778503132@ya.ru">79778503132@ya.ru</a></p>
    <p><a href="https://t.me/mishkamos" target="_blank">@mishkamos - Telegram</a> - предпочтительный способ связи</p>
    <p><a href="https://github.com/MikhailPashko" target="_blank">Mikhail Pashko - GitHub</a></p>
    <p><a href="https://mikhailpashko.space/" target="_blank">Моё резюме</a></p>
</div>
<div>
    <p>Москва, метро Бульвар Дмитрия Донского, готов к переезду, готов к командировкам</p>
</div>
<div>
    <h3>Желаемая должность</h3>
    <h3>DevOps Junior</h3>
    <p>Специализации:</p>
    <ul>
        <li>Сетевой инженер</li>
        <li>Системный администратор</li>
    </ul>
    <p>
        Занятость: проектная работа, полная занятость<br>
        График работы: удаленная работа, полный день
    </p>
</div>
<div>
    <h3>Опыт работы</h3>
    <table>
        <tr>
            <td>
                <p>
                    Февраль 2017 — по настоящее время<br>
                    <span style="color: gray">6 лет 5 месяцев</span>
                </p>
            </td>
            <td>
                <p><b>АО НИЦЭВТ</b><br>
                   <nobr> Москва, <a href="http://www.nicevt.ru/" target="_blank">www.nicevt.ru</a> , <a href="http://angara.nicevt.ru/" target="_blank">www.angara.nicevt.ru.ru</a></p></nobr>
                <p>IT компания</p>
                <ul>
                    <li>Производство и разработка IT оборудования</li>
                    <li>Настройка и внедрение кластеров и сетевых технологий</li>
                    <li>Собственное производство электронных модулей и компонентов</li>
                </ul>
                <h4>Сетевой инженер</h4>
                <p>Написание playbooko'в с применением ролей, шифрования playbooko'в. Разбиение tasko'в на includ'ы. Использование deligate_to, Jinja Templates.</p>

                <p>Работа с GIT репозиториями. Написание .yml файлов для GitHub Actions для непрерывной интеграции (CI/CD).  </p>

                <p>Настройка и работа с  HAProxy для балансировки запросов на веб-сервера.</p>

                <p>Jenkins. Написание job'ов на различные триггеры.</p>

                <p>Развёртывание и конфигурирование тестовых стендов.</p>

                <p>Сетевая настройка серверов. Настройка DHCP, DNS, WireGuard, RDP. Администрирование сетей. Работа с ufw, firewall и межсетевым экраном. Port forwarding. </p>

                <p>Linux администрирование. </p>

                <p></p>

                <p><b>Стэк технологий на проекте:</b></p>
                <p>
                    Ansible<br>
                    Docker<br>
                    LXD/LXC<br>
                    QEMU/KVM<br>
                    SQL-запросы<br>
                    Apache<br>
                    Ubuntu/Debian<br>
                    CentOS<br>
                    Proxmox/OpenNebula<br>
                    GitHub/GitHub Actions<br>
                    HAProxy<br>
                    Jenkins<br>
                </p>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>Ключевые навыки</h3>
    <ul style="list-style: none">
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Ansible</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">GitHub/GitHub Actions</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Bash</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">PowerShell</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">C</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Python</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Linux</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Windows</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Mac Os</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">SQL-запросы</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">PDM/PLM</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">SMTP/POP3/IMAP</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Jenkins</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Virtual Box</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">HAProxy</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">HTML</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Администрирование сетевого оборудования</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Jira</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Nginx</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Docker/Docker Compose</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Scrum</li>
        <li style="float: left; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">Разработка сетевого оборудования</li>
    </ul>
</div>

<div style="clear: both; padding-top: 50px;">
    <h3>Высшее образование (Специалист)</h3>
    <table>
        <tr>
            <td>2015</td>
            <td>
                <b> «Московский авиационный институт (национальный исследовательский университет)»</b><br>
                Прикладная механика, факультет №9, Космические летательные аппараты и разгонные блоки<br>
                <a href="https://mai.ru/?referer=https%3A%2F%2Fyandex.ru%2Fclck%2Fjsredir%3Ffrom%3Dyandex.ru%3Bsearch%2F%3Bweb%3B%3B" target="_blank">Официальный сайт Московского авиационного института</a>
            </td>
        </tr>
    </table>
</div>


<style>
    body {
        font-family: sans-serif;
        padding: 50px 0;
    }
    div {
        max-width:1200px;
        margin: 0 auto;
    }
    a,
    a:focus,
    a:visited{
        color: darkslategrey;
        text-decoration: none;
        border-bottom:1px solid transparent;
        transition: all ease-in 200ms;
    }
    a:hover {
        border-bottom-color:black;
        color: black;
    }
</style>


<ul style="list-style: none">
    <li style="float: right; padding: 10px; margin: 5px; background: lightgray; border-radius: 5px;">
        <div align="center"><em><strong>Блок для Ansible.</strong></em></div></div>
    Owner name of this Server : {{ owner }}<br>
    Server Host Name : {{ ansible_hostname }}<br>
    Server OS Family : {{ ansible_os_family }}<br>
    IP Adress of this Server: {{ ansible_default_ipv4.address }}<br>
    </li>
</ul>

</body>
</html>